/.gradle/
/build/
/classes/
/out/
/repo/
/.idea/
/src/integTest/gradle/wrapper/gradle-wrapper.properties
/*.iml
/*.ipr
/*.iws
/gh-pages/
/gradle.properties
/buildSrc/.gradle/
/buildSrc/build/
/buildSrc/*.iml

.DS_Store
Thumbs.db
