-dontwarn scala.**
-ignorewarnings

# execute shrinking only
-dontoptimize
-dontobfuscate
-dontpreverify
#-dontshrink

# standard libraries
-dontwarn android.**, java.**, javax.microedition.khronos.**, junit.framework.**, scala.**, **.R$*
-dontnote android.**, java.**, javax.microedition.khronos.**, junit.framework.**, scala.**, **.R$*

# test libraries
-dontwarn com.robotium.solo.**, org.mockito.**, junitx.**, com.google.android.apps.common.testing.**
-dontnote com.robotium.solo.**, org.mockito.**, junitx.**, com.google.android.apps.common.testing.**
-keep class com.google.dexmaker.mockito.** { *; }

# for android. see also http://proguard.sourceforge.net/manual/examples.html#androidapplication
-keep class * extends android.** { *; }
-keep class * extends junit.** { *; }
-keep class * implements android.** { *; }
-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet);
}
-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet, int);
}
-keepclassmembers class * {
    @android.webkit.JavascriptInterface <methods>;
}
-keep public class com.google.vending.licensing.ILicensingService
-keep public class com.android.vending.licensing.ILicensingService
-dontnote com.google.vending.licensing.ILicensingService
-dontnote com.android.vending.licensing.ILicensingService
-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

# miscellaneous. see also http://proguard.sourceforge.net/index.html#manual
-keepattributes *Annotation*
-keepclasseswithmembernames class * { native <methods>; }
