<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.leafytree.android.libproject.lib1">

    <application>
        <activity
            android:name="Lib1JavaActivity"
            android:label="Lib1JavaActivity"></activity>
    </application>

</manifest>
